SecretBlob=
{
  "DatabaseServer": "",
  "DatabaseName": "",
  "DatabaseUsername": "",
  "DatabasePassword": "",
  "LogWebhookUri": "",
  "SendgridApiKey": "",
  "EmailFromName": "",
  "EmailFromAddress": "",
  "EmailToAddresses": ""
}
